Django
djangorestframework>=3.13.1
PyJWT>=2.3.0
django-cors-headers>=3.11.0
djangorestframework-simplejwt
xmltodict
requests
python-dotenv
psycopg2
gunicorn>=20.0
numpy
django-crispy-forms
python-dateutil
celery
channels
redis
daphne
markdown
django-filter
channels_redis
rasterio
geopandas
